@model ExceptionDetails

<h1>
    @if (Model.IsApplicationError)
    {
        <text>@Model.Message</text>
    }
    else
    {
        <text>@Model.Message</text>
        <p>Our developers are working on fixing it</p>
    }
</h1>

@foreach(var error in Model.Errors)
{
    <p>Error for: @error.Key</p>
    @foreach (var detailedError in error.Value)
    {
        <p>@detailedError</p>
    }

    <hr /><br />
}