<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_CssLinksPartialView">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="admin" asp-controller="home" asp-action="index">BookStore</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="product" asp-action="index">Products</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="category" asp-action="index">Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid mt-3 w-75">
            @RenderBody()
        </div>
    </div>

    <partial name="_JsScriptLinksPartialView">
    <partial name="_AlertsPartialView" />
    @RenderSection("Scripts", required:false);
</body>
</html>
