<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_CssLinksPartialView">
</head>
<body>
    <div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Products</a>
        </nav>
        @RenderBody()
    </div>

    <partial name="_JsScriptLinksPartialView">
</body>
</html>
